@model List<FYP.Models.Transaction>

@{
    ViewBag.Title = "Payment History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="db-breadcrumb">
        <h4 class="breadcrumb-title">Users</h4>
        <ul class="db-breadcrumb-list">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li>Payment History</li>
        </ul>
    </div>

    <div class="row">

        <div class="col-lg-12 m-b30">
            <div class="widget-box">
                <div class="wc-title">
                    <h4>All Bookings Payemnt</h4>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" style="width:100%;" cellspacing="0">
                                <thead>
                                    <tr class="text-center">
                                        <th>Transaction ID</th>
                                        <th>Card No</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>User</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="text-center">
                                            <td>@item.Id</td>
                                            <td>@item.Card_Number</td>
                                            <td>@item.Currency</td>
                                            <td>@item.Amount</td>
                                            <td>@item.Description</td>
                                            <td>@item.User.Email</td>
                                            <td>
                                                <input type="button" class="btn" value="Details" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="packageDetails(@item.Bookings.FirstOrDefault(x => x.Transaction_Id == item.Id).Package_ID)"/>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="ttr-overlay"></div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>*@
            <div class="modal-body">
                <div class="row">
                    <div class="col-7">
                        <img id="packageImage" style="width:100%; height:435px;" onclick="openImageInTab(this)" />
                    </div>
                    <div class="col-5" style="padding-top:10px;">
                        <div style="padding:25px;">
                            <label>Package Name:</label>
                            <span id="packageName"></span><hr />
                            <label>Pick Up Location:</label>
                            <span id="pickUpLocation"></span><hr />
                            <label>Trip Start Date:</label>
                            <span id="tripDate"></span><hr />
                            <label>Total Trip Days</label>
                            <span id="tripDays"></span><hr />
                            <label>Package Price</label>
                            <span id="tripPrice"></span>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

<script src="~/Content/assetstable/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/assetstable/vendor/datatables/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $.noConflict();
        var table = $('#dataTable').DataTable();
    });

    function packageDetails(data) {
        //var value = $(data).closest('tr').children('td:first').text();
        //console.log(value);
        $.get("/Admin/PackageDetails/" + data, function (res) {
        debugger
            console.log(res)
            if (res.packageDetail.IsCustomize == false) {
                let a = res.packageDetail.Picture;
                let result = a.replace("~/", "");
                $("#packageImage").attr("src", "http://localhost:53010/" + result);
                console.log(result);
            } else {
                let result = res.packageDetail.Picture;
                $("#packageImage").attr("src", "" + result);
            }

            $("#packageName").text(res.packageDetail.Name);
            $("#pickUpLocation").text(res.packageDetail.Pick_Up_Location);
            $("#tripDate").text(res.packageDetail.DateString);
            $("#tripDays").text(res.packageDetail.No_of_Days);
            $("#tripPrice").text("Rs " + res.packageDetail.Price);

        });
    }

</script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/assetstable/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/assetstable/vendor/bootstrap/bootstrap.bundle.min.js"></script>



